## Example environment for Foundry (contracts/)
# Copy this file to `.env` in the same directory and adjust the value.

# Celo Alfajores testnet RPC URL
#CELO_RPC_URL=https://alfajores-forno.celo-testnet.org

# For mainnet you might use, for example:
CELO_RPC_URL=https://forno.celo.org

PRIVATE_KEY=0x0000000000000000000000000000000000000000000000000000000000000000

